@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');


:root {
    --clr-negro: #151515;
    --clr-negro-claro: rgb(77, 77, 77);
    --clr-azul: #4834f7;
    --clr-blanco: #ffffff;
    --clr-gris: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-negro);
}

aside {
    padding: 2rem;
    padding-right: .8rem;
    color: var(--clr-blanco);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo {
    font-weight: 100;
    font-size: 2rem;
    color: var(--clr-blanco);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boton-menu {
    background-color: transparent;
    color: var(--clr-blanco);
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.boton-menu:hover {
    background-color: rgb(24, 24, 24);
}


.boton-menu.active {
    width: max-content;
    border-bottom: .2rem solid var(--clr-azul);
    width: 100%;
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-azul);
    padding: 0.10rem 0.55rem;
}

.texto-footer {
    font-size: .8rem;
    color: var(--clr-negro-claro);
}

main {
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
    margin: 1rem;
    margin-left: 0;
    padding: 3rem 0rem 3rem 1.5rem;
}

.titulo-principal {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.producto-imagen {
    width: 100%;
}

.producto-detalles {
    background-color: var(--clr-azul);
    color: var(--clr-blanco);
    padding: .5rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: transparent;
    color: var(--clr-blanco);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: .5rem;
    font-weight: 900;
    cursor: pointer;
    border: .15rem solid var(--clr-blanco);
}

.producto-agregar:hover {
    background-color: var(--clr-blanco);
    color: var(--clr-azul);
}

/*carrito vacio*/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.55rem;
}


.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-gris);
    color: var(--clr-azul);
    padding: 1rem;
    padding-right: 2rem;
}

.carrito-producto-imagen {
    width: 3rem;
}

.carrito.producto small {
    font-size: .7rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-negro);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gris);
    padding: 1rem;
    color: var(--clr-negro);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.carrito-acciones-derecha {
    display: flex;
    
}
.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gris);
    padding: 1rem;
    color: var(--clr-negro);
    font-weight: 100;
    font-size: 1rem;
    gap: 1rem;
}
.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-azul);
    padding: 1rem;
    color: var(--clr-blanco);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.disabled {
    display: none;
}
